@primaryCuzColor: #285ac8;

.cuzPrimary {
  background-color: @primaryCuzColor;
  color: #fff;
}

.cuzPrimaryColor {
  color: @primaryCuzColor;
}

.formContainer:nth-last-of-type(1) {
  border-bottom: 1px solid #e8e8e8;
}
